Django==3.2.25
djangorestframework==3.12.4
django-rest-auth==0.9.5
django-heroku
python-dateutil
psycopg2-binary
gunicorn
cryptography
django-extensions==3.2.3
djangorestframework-jwt==1.11.0
PyJWT==1.7.1
django-cors-headers
dj-database-url
